{% extends "base.html" %}

{% block content %}
    <table>
        {% for user in users %}
            <tr>
                <td><a href="{% url 'user_detail' username=user.username %}"> {{ user.username }} </a></td>
                <td>
                    {% if user.profile in following %}
                        <strong>Followed</strong>
                    {% else %}
                        <strong><a href="{% url 'follow_user' username=user.username %}">Follow</a></strong>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}