{% extends "base.html" %}
{% block content %}
    <h1>{{ movie.title }}</h1>

    <p><strong>Author:</strong> <a href="{% url 'user_detail' username=movie.author.username %}"> {{ movie.author }}</a>
    </p>
    <p><strong>Genre:</strong> <a href="">
        {% for genre in movie.movie_genre.all %}
            {{ genre.genre_name }} ,
        {% endfor %}
    </a></p>
    <p><strong>Quality:</strong> {{ movie.movie_quality }}</p>
    <p><strong>Size:</strong> {{ movie.movie_size }}</p>
    {% if current_user == movie.author %}
        <p><a href="{% url 'delete_movie' pk=movie.id %}">Delete this movie!</a></p>
    {% endif %}
    <br>
    <br>
    {% if movie.cover_img_link != '' %}
        <img src="{{ movie.cover_img_link }}" alt="Movie Cover Image">
    {% endif %}


    {% block comment %}
        <br>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.as_p }}</td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>

        </form>

        <h2>Comments : </h2>
        {% for each_comment in comments_for_post %}
            <p>{{ each_comment.comment_author }} : {{ each_comment.comment_text }} <a
                    href="{% url 'reply_to_comment' pk=each_comment.pk %}"> Reply to this comment</a>
                {% if current_user == each_comment.comment_author %}
                    | <a href="{% url 'delete_comment' pk=each_comment.pk %}"> Delete comment</a></p>
                {% endif %}
            <p>Replies to this comment :</p>
            {% for each_reply in each_comment.reply_to_this_comment %}
                <p>{{ each_reply.reply_to_comment_author.username }}: {{ each_reply.reply_text }}
                    {% if current_user == each_reply.reply_to_comment_author %}
                        | <a href="{% url 'delete_reply_to_comment' pk=each_reply.pk %}"> Delete comment</a></p>
                    {% endif %}
            {% endfor %}
        {% endfor %}
    {% endblock %}
{% endblock %}

