{% extends "base.html" %}

{% block content %}
    <h1>BITS Pilani DC++ catalog </h1>

    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} to BITS DC++ Catalog, a website developed by <em>Pradyumna Bang</em>!</p>
    {% else %}
        <p> You are not logged in. Please get yourself authenticated. </p>
    {% endif %}
    <h2>Stats :</h2>
    <p>The catalog has the following record counts:</p>
    <ul>
        <li><strong>Movies:</strong> {{ num_movies }}</li>
        <li><strong>Anime:</strong> {{ num_anime }}</li>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Softwares:</strong> {{ num_softwares }}</li>
    </ul>

    {% if user.is_authenticated %}
        <h1>News Feed!</h1>
        <h3>Movies by the people you follow</h3>
        {% for following in user_following %}
            {% for user_movies in following.get_user_movies %}
                <p><a href="{% url 'Movies-detail' pk=user_movies.id %}">{{ user_movies.title }} </a></p>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}
